







.calendar{
  display: flex;
  flex-wrap: wrap;

  margin: auto;

  width: $continer-height;
  border: 1px solid;

  &__week{
    display: flex;


    &__day{
      font-size: $text-size;
      width: $blok-size;
      box-sizing: border-box;
      text-align: center;

      $days:
      "1" "ВТ",
      "2" "СР",
      "3" "ЧТ",
      "4" "ПТ",
      "5" "СБ",
      "6" "ВС",
      "7" "ПН";
      @each $nam ,$day in $days {
        &--#{$nam}::before{
          content: '#{$day}';
        }
      }
    }

  }


  &__data{
    display: flex;
    box-sizing: border-box;

    width: $blok-size;
    height: $blok-size;

    cursor: pointer;

    font-size: $text-size;
    background-color: #eee;
    border: 1px solid #000;
   
    
    &:hover{
      transform: translate(0, -20px);
      background-color: palevioletred;
    }


    @for $i from 1 through 31 {
      &--num--#{$i}::before {
        content: '#{$i}';
      }
    }
    @for $i from $month-length through 32 {
      &--#{$i +1}:nth-child(n + #{$month-length}){
        display: none;
      }
    }

  }


  &__data--1{
    margin-left:$blok-size * 6;
  }


  &__num{
    margin: auto;
  }

}